Repository voiceflow/test-history-rebase: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-creator-app, build-showcase, build-realtime, build-frontend, build-backend, build-ml-gateway, build-any, build-all

chore(release): publish
  apps/creator-app/CHANGELOG.md
  apps/creator-app/package.json
  apps/ml-gateway/CHANGELOG.md
  apps/ml-gateway/package.json
  apps/realtime/CHANGELOG.md
  apps/realtime/package.json
  apps/showcase/CHANGELOG.md
  apps/showcase/package.json
  libs/ml-sdk/CHANGELOG.md
  libs/ml-sdk/package.json
  libs/platform-config/CHANGELOG.md
  libs/platform-config/package.json
  libs/realtime-sdk/CHANGELOG.md
  libs/realtime-sdk/package.json
  libs/socket-utils/CHANGELOG.md
  libs/socket-utils/package.json
  libs/ui/CHANGELOG.md
  libs/ui/package.json
Due: build-creator-app, build-showcase, build-realtime, build-frontend, build-backend, build-ml-gateway, build-any

chore: fix tsconfig (#6921)
  apps/creator-app/tsconfig.json
  apps/ml-gateway/tsconfig.json
  apps/realtime/tsconfig.json
  apps/showcase/tsconfig.json
Due: build-creator-app, build-showcase, build-realtime, build-ml-gateway, build-any

chore(release): publish
  apps/creator-app/CHANGELOG.md
  apps/creator-app/package.json
  apps/ml-gateway/CHANGELOG.md
  apps/ml-gateway/package.json
  apps/realtime/CHANGELOG.md
  apps/realtime/package.json
  apps/showcase/CHANGELOG.md
  apps/showcase/package.json
Due: build-creator-app, build-showcase, build-realtime, build-ml-gateway, build-any

ci: remove extra bors deps
  bors.toml
Due: none

ci: new e2e (IN-707) (#6919)
  .circleci/.gitignore
  .circleci/config.yml
  .circleci/continue-config.yml
  .circleci/continue_config.yml.tmpl
  .circleci/values.test.json
  apps/creator-app/package.json
  apps/ml-gateway/package.json
  apps/realtime/package.json
  apps/showcase/package.json
  bors.toml
  package.json
Due: build-creator-app, build-showcase, build-realtime, build-frontend, build-backend, build-ml-gateway, build-any, build-all

feat: adjustments to existent trial logic to better support reverse trials (CT-1797) (#6854)
  apps/creator-app/src/ModalsV2/modals/Billing/AddSeats.tsx
  apps/creator-app/src/components/TrialCountdownCard/index.tsx
  apps/creator-app/src/components/TrialExpiredPage/index.tsx
  apps/creator-app/src/components/TrialExpiredPage/styles.ts
  apps/creator-app/src/contexts/PaymentContext/index.tsx
  apps/creator-app/src/ducks/workspaceV2/selectors/active.ts
  apps/creator-app/src/pages/DashboardV2/components/Sidebar/index.tsx
  apps/creator-app/src/pages/DashboardV2/pages/MembersAndBilling/pages/Members/index.tsx
  apps/creator-app/src/pages/DashboardV2/pages/ProjectList/index.tsx
  libs/realtime-sdk/src/config/features.ts
Due: build-creator-app, build-realtime, build-frontend, build-backend, build-any

ci: fix for tags (IN-000) (#6923)
  .circleci/config.yml
Due: none

chore(release): publish
  apps/creator-app/CHANGELOG.md
  apps/creator-app/package.json
  apps/realtime/CHANGELOG.md
  apps/realtime/package.json
  libs/realtime-sdk/CHANGELOG.md
  libs/realtime-sdk/package.json
Due: build-creator-app, build-realtime, build-frontend, build-backend, build-any

fix: fixes voice input on brave browser (BUG-358) (#6912)
  apps/creator-app/src/hooks/asr.ts
  libs/ui/src/config.ts
Due: build-creator-app, build-frontend, build-any

refactor: removed ml gateway integration ff (CT-1947) (#6917)
  apps/creator-app/src/contexts/MLContext.tsx
  libs/realtime-sdk/src/config/features.ts
Due: build-creator-app, build-realtime, build-frontend, build-backend, build-any

chore(release): publish
  apps/creator-app/CHANGELOG.md
  apps/creator-app/package.json
  apps/realtime/CHANGELOG.md
  apps/realtime/package.json
  apps/showcase/CHANGELOG.md
  apps/showcase/package.json
  libs/platform-config/CHANGELOG.md
  libs/platform-config/package.json
  libs/realtime-sdk/CHANGELOG.md
  libs/realtime-sdk/package.json
  libs/ui/CHANGELOG.md
  libs/ui/package.json
Due: build-creator-app, build-showcase, build-realtime, build-frontend, build-backend, build-any

ci: improve review env creation (IN-711) (#6924)
  .github/workflows/preview-env.yaml
Due: none

ci: only update tracks if files have changed (IN-713) (#6926)
  .circleci/continue_config.yml.tmpl
  .circleci/values.test.json
Due: none

ci: add missing filter and clean up repeated code (IN-713) (#6930)
  .circleci/continue_config.yml.tmpl
  .circleci/values.test.json
  bors.toml
Due: none

feat: fix steps e2d (#6934)
  apps/creator-app/cypress/e2e/canvas/steps.cy.ts
Due: build-creator-app, build-any

chore(release): publish
  apps/creator-app/CHANGELOG.md
  apps/creator-app/package.json
Due: build-creator-app, build-any

Path conditions:
  build-creator-app: (any of: apps/creator-app/.*) or (any of: libs/ml-sdk/.*)
  build-showcase: any of: apps/showcase/.*
  build-realtime: ((any of: apps/realtime/.*) or (any of: libs/realtime-sdk/.*)) or (any of: libs/platform-config/.*)
  build-frontend: ((((any of: libs/realtime-sdk/.*) or (any of: libs/platform-config/.*)) or (any of: libs/ui/.*)) or (any of: package.json)) or (any of: yarn.lock)
  build-backend: ((((any of: libs/realtime-sdk/.*) or (any of: libs/platform-config/.*)) or (any of: libs/socket-utils/.*)) or (any of: package.json)) or (any of: yarn.lock)
  build-ml-gateway: (any of: apps/ml-gateway/.*) or (any of: libs/ml-sdk/.*)
  build-any: (any of: libs/.*) or (any of: apps/.*)
  build-all: (any of: package.json) or (any of: yarn.lock)
